<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiwoung.laddergame">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/laddericon"
        android:label="사다리타기"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"



        >

        <meta-data

            android:name="com.google.android.gms.ads.APPLICATION_ID"

            android:value="@string/admob_app_id"/>


        <activity android:name="com.example.laddergame.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"

                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.example.laddergame.LadderGameActivity" />
        <activity android:name="com.example.laddergame.ScamLadder" />
        <activity android:name="com.example.laddergame.ResultActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog"></activity>

    </application>

</manifest>
